{
  "git_username": "Yohei",
  "git_since_time": "2.weeks",
  "git_path": "/Users/yasulab/weekly_report_helper/.git",
  "gcal_mail": "yasulab@gmail.com",
  "gcal_pass": "loveopensource",
  "gcal_feed": "http://www.google.com/calendar/feeds/yasulab%40gmail.com/private-1234567890987654321/basic"
}
